
:root {
    --yellow:rgb(255, 225, 0);
    --black:rgb(26, 27, 27);
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*
.container {
    width:100vw;
    height:100vh;
    background-color:white;
    display:grid;
    grid-template-columns: 260px auto;
}*/

.logo {
    background-color:var(--yellow);
    display:flex;
}

.logo h2 {
    margin:auto;
}

.side_bar {
    width:260px;
    height:100vh;
    position:fixed;
    display:grid;
    grid-template-rows: 100px auto;
}

.active__bar {
    color:var(--yellow);
    text-decoration:underline;
}

.nav {
    padding-top:20px;
    display:flex;
    flex-direction: column;
    justify-items: right;
    position:relative;
    height:100%;
    width:100%;
    background-color:var(--black);
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: right;
    position:relative;
    width:100%;
    height:40px;
    border-right: solid 2px var(--yellow);
}

.navbar p {
    position:absolute;
    right:0;
    padding-right:25px;

}

.nav a {
    display:flex;
    align-items:center;
    color:rgb(177, 176, 176);
    text-decoration:none;
    text-transform:uppercase;
    font-size: .80em;
}

.nav a:hover {
    color:var(--yellow);
    font-size:.8em;
}

.nav a:hover p {
    transform:translate(1.5);
}

.main {
    width:calc(100% - 260px);
    height:100%;
    margin-left:260px;
}

.hero {
    position:relative;
    width:100%;
    height:500px;
    background-image: url(images/hero_hse.jpg), radial-gradient(rgb(71, 70, 70), black);
    background-size:cover;
    background-blend-mode: overlay;
}

.hero_email {
        display:flex;
        position:absolute;
        align-items:center;
        top:30px;
        right:50px;
        color:white;
}
.hero_card {
    display:flex;
    flex-direction:column;
    color:rgb(214, 212, 212);
    max-width: 900px;
    padding-left:120px;
    font-family: 'Ubuntu', sans-serif;
}

.hero_card h1 {
    font-size:50px;
    padding-top:100px;
    padding-bottom:30px;
}
.hero_card p {
    font-size:15px;
}

.hero_card_button {
    justify-content: center;
    text-align: center;
    padding:10px 15px;
    text-decoration:none;
    margin-top:50px;
    position:relative;
    background-color:var(--yellow);
    width:120px;
}

.hero_card_button a {
    text-decoration: none;
    color:var(--black);
    align-self: center;
    text-transform:uppercase;
    font-weight: 700;
}