
:root {
    --yellow:rgb(255, 225, 0);
    --black:rgb(26, 27, 27);
    --main_background:rgb(243, 241, 235);
    --main_font:'Ubuntu', sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.center {
    text-align: center;
}
/*
.container {
    width:100vw;
    height:100vh;
    background-color:white;
    display:grid;
    grid-template-columns: 260px auto;
}*/

.logo {
    background-color:var(--yellow);
    display:flex;
}

.logo h2 {
    margin:auto;
}

.toggle_menu {
    display:none;
    position:relative;
    width:90px;
    height:90px;
    background-color:red;
}

.side_bar {
    width:260px;
    height:100vh;
    position:fixed;
    display:grid;
    grid-template-rows: 100px auto;
}

.active__bar {
    color:var(--yellow);
    text-decoration:underline;
}

.nav {
    padding-top:20px;
    display:flex;
    flex-direction: column;
    justify-items: right;
    position:relative;
    height:100%;
    width:100%;
    background-color:var(--black);
    font-family: var(--main_font);
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: right;
    position:relative;
    width:100%;
    height:40px;
    border-right: solid 4px var(--yellow);
}

.navbar p {
    position:absolute;
    right:0;
    padding-right:25px;

}

.nav a {
    display:flex;
    align-items:center;
    color:rgb(177, 176, 176);
    text-decoration:none;
    text-transform:uppercase;
    font-size: .80em;
}

.nav a:hover {
    color:var(--yellow);
    font-size:.8em;
}

.nav a:hover p {
    transform:translate(1.5);
}

.main {
    background-color:var(--main_background);
    width:calc(100% - 260px);
    height:100%;
    margin-left:260px;
}

.hero {
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    width:100%;
    height:500px;
    background-image: url(images/hero_hse.jpg), radial-gradient(rgb(71, 70, 70), black);
    background-position: right;
    background-size:cover;
    background-blend-mode: overlay;
}
.hero_email {
    position:absolute;
    display:flex;
    align-items:center;
    top:20px;
    right:30px;
    color:white;
    padding:30px 40px 20px 30px;
}

.hero_card {
    position:relative;
    align-items:center;
    width:80%;
    height:50%;
    display:grid;
    justify-content: center;
    grid-template-rows:3fr 2fr 1fr;
    color:rgb(214, 212, 212);
    font-family: var(--main_font);
}

.hero_card h1 {
    font-size:3vw;
}
.hero_card p {
    font-size:15px;
}

.hero_card_button {
    justify-content: center;
    text-align: center;
    padding:10px 15px;
    text-decoration:none;
    position:relative;
    background-color:var(--yellow);
    width:120px;
}

.hero_card_button a {
    text-decoration: none;
    color:var(--black);
    align-self: center;
    text-transform:uppercase;
    font-weight: 700;
}

.content {
    padding:50px 20px 40px 40px;
}

input {
    border:none;
    background-color: var(--main_background);
    
}
input:focus, textarea:focus {
    outline:none;
}
textarea {
    border:none;
    padding:15px 10px;
    background-color: var(--main_background);
}

.contact_form_container {
    font-family: var(--main_font);
    position:relative;
    width:50%;
    margin:auto;
    padding-top:40px;
}

.form_container {
    margin-top:30px;
}
.two_column_form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-rule: black;
    column-width: 1px;
    position:relative;
    width:100%;
    margin-bottom:10px;
    border:solid 1px black;
}
.one_column_form {
    display:grid;
    grid-template-columns: 1fr;
    position:relative;
    width:100%;
    margin-bottom:10px;
    border:solid 1px black;
}

.second_row_form {
    border-left:solid 1px black;
}
.one_column_name_form {
    display:grid;
    grid-template-columns: 1fr;
    position:relative;
    width:100%;
    border-left:solid 1px black;
    border-right:solid 1px black;
    border-top:solid 1px black;
    padding:15px 10px;
    text-transform:uppercase;
}
.contact_input_form {
    padding:15px 10px;
}

@media only screen and (max-width: 900px) {
    .side_bar {
        position:relative;
        width:100vw;
        height:90px;
        display:flex;
    }
    .logo {
        height:90px;
        width:100vw;
    }
    .toggle_menu {
        display:block;
    }
    .nav {
        display:none;
    }
    .main {
        width: 100vw;
        margin-left:0;
    }
    .hero_card h1 {
        font-size:30px;
    }


    .contact_form_container {
        width:80%;
    }
}

@media only screen and (max-width:500px) {
    .first_row_form {
        width:100px;
    }
    .second_row_form {
        border-left:solid 1px black;
        width:100px;
    }
}